---
import { Image } from 'astro:assets';
import alienMonsterEmoji from '../../assets/img/alien-monster-emoji.png';
import ButtonLink from '../atom/ButtonLink.astro';
import c from '../../content/hero';
import SectionHeading from '../atom/SectionHeading.astro';
import SectionLayout from './SectionLayout.astro';

import heroImg from '../../assets/img/hero.svg?raw';
---

<script>
  import gsap from 'gsap';

  gsap.timeline()
    .fromTo('.hero-icon, .hero-heading', { y: 5 }, { y: 0, opacity: 1, duration: 1 })
    .fromTo('.hero-sub', { y: 5 }, { y: 0, opacity: 1, duration: 1, delay: -0.8 })
    .fromTo('.hero-description', { y: 5 }, { y: 0, opacity: 1, duration: 1, delay: -0.8 })
    .fromTo('.hero-button', { y: 5 }, { y: 0, opacity: 1, duration: 1, delay: -0.8 })
    .fromTo('.hero-img', { y: 5 }, { y: 0, opacity: 1, duration: 1, delay: -0.8 })
</script>

<SectionLayout id="#hero-section">
  <Image class="hero-icon opacity-0" slot="icon" alt="" src={alienMonsterEmoji} width="48" height="48" />
  <div slot="content" class="flex flex-col lg:flex-row justify-between">
    <div class="w-full lg:w-[50%]">
      <div class="hero-heading opacity-0">
        <SectionHeading>{c.title}</SectionHeading>
      </div>
      <subtitle class="text-primary hero-sub opacity-0">
        {c.subtitle}
      </subtitle>
      <p class="mt-8 mb-9 hero-description opacity-0">
        {c.description}
      </p>
      <ButtonLink href="#" className="w-full mx-auto md:mx-0 md:w-[60%] glow before:-left-10 before:-top-4 hero-button opacity-0 skewElem">{c.button}</ButtonLink>
    </div>
    <div class="hidden lg:flex md:w-[50%] hero-img mx-auto justify-center opacity-0">
      <Fragment set:html={heroImg} />
    </div>
  </div>
</SectionLayout>

<style>
  .hero-img {
    position: relative;
    z-index: 10;
  }

  .hero-img::before {
    content: '';
    display: block;
    position: absolute;
    width: 120px; height: 120px;
    background-color: #AF7BFA;
    border-radius: 50%;
    opacity: 0.4;
    left: calc(50% - 40px);
    top: 40px;
    filter: blur(36px);
    z-index: -1;
  }
</style>

<style is:global>
  .glow {
    position: relative;
  }

  .glow::before {
    content: '';
    display: block;
    position: absolute;
    width: 100px; height: 100px;
    background-color: #AF7BFA;
    border-radius: 50%;
    opacity: 0.4;
    filter: blur(36px);
  }

  #hero-img-girl-body, #hero-img-locker {
    animation: float 5000ms ease-in-out infinite;
  }

  #hero-img-left {
    animation: float 6000ms ease-in-out infinite
  }

  #hero-img-right {
    animation: float 4000ms ease-in-out infinite
  }

  #hero-img-girl-head {
    animation: float 5000ms 400ms ease-in-out infinite;
  }

  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(10px);
    }
    100%: {
      transform: translateY(0px);
    }
  }
</style>
